<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
/>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet" />

<section class="container about" id="about">
    <div class="main-title">
        <h2>About <span>me</span></h2>
    
    </div>
    <div class="about-container">
        
        <div class="right-about">
            <div class="about-item">
                <div class="abt-text">
                    <p class="large-text">SAMHITA</p>
                    <p class="small-text">
                        EVENT <br /> ORGANIZER
                    </p>
                </div>
            </div>
            <div class="about-item">
                <div class="abt-text">
                    <p class="large-text">ROTOFEST</p>
                    <p class="small-text">
                        EVENT<br /> ORGANIZER
                    </p>
                </div>
            </div>
            <div class="about-item">
                <div class="abt-text">
                    <p class="large-text">SPARISH</p>
                    <p class="small-text">
                        EVENT<br /> ORGANIZER
                    </p>
                </div>
            </div>
            <div class="about-item">
                <div class="abt-text">
                    <p class="large-text">CARTE BLANCHE</p>
                    <p class="small-text">
                        EVENT <br /> ORGANIZER
                    </p>
                </div>
            </div>
        </div>

        <div class="left-about">
            <h4>ACHIEVEMENTS</h4>
            <p>
                SECURED FIRST PLACE IN MERRY LAND ACADEMY’S ECG EXAM. <br />
                <br /> SECURED NATIONAL RANK 1610 AND STATE RANK 276 IN “NATIONAL MATHEMATICS INDIAN TALENT COMPETITON”. <br />
                <br />SECURED SCHOOL THIRD IN SSLC EXAM AND SECOND IN HSC EXAM IN  MY DEPARTMENT. <br />
                <br />PARTICIPATED STATE LEVEL THIRUKURAL COMPETITON SECURED 2ND PLACE AND GOT THIRUKURAL SELVAR AWARD. <br /> 
            </p>
        </div>
    </div>
   
    <div class="main-title">
        <h2><span>TIMELINE</span></h2>
    
    </div>
    <div class="timeline">
        <div class="timeline-item">
            <div class="tl-icon">
                <i class="fas fa-school"></i>
            </div>
            <p class="tl-duration">2015 - 2016</p>
            <h2>SSLC - <span>NIVETHA MATRIC HIGHER SECONDARY SCHOOL, PORAYAR, TAMILNADU</span></h2>
            <h4>
                WITH 98%
            </h4>
        </div>
        <div class="timeline-item">
            <div class="tl-icon">
                <i class="fas fa-school"></i>
            </div>
            <p class="tl-duration">2017 - 2018</p>
            <h2>HSC<span>NIVETHA MATRIC HIGHER SECONDARY SCHOOL, PORAYAR, TAMILNADU</span></h2>
            <h4>
                WITH 95%
            </h4>
        </div>
        <div class="timeline-item">
            <div class="tl-icon">
                <i class="fas fa-university"></i>
            </div>
            <p class="tl-duration">2018 - 2012</p>
            <h2>B.TECH<span>MADRAS INSTITUTE OF TECHNOLOGY, ANNA UNIVERSITY, CHENNAI, TAMILNADU</span></h2>
            <h4>
                78%
            </h4>
        </div>
        <div class="timeline-item">
            <div class="tl-icon">
                <i class="fas fa-briefcase"></i>
            </div>
            <p class="tl-duration">2022 - present</p>
            <h2>EMPLOYEE<span>XXXXXXX</span></h2>
            <h4>
                SOFTWARE ENGINEER
            </h4>
        </div>
    </div>
</section>
<app-portfolio></app-portfolio>