<section class="container contact" id="contact">
    <div class="contact-container">
        <div class="main-title">
            <h2>CONTACT <span>ME</span></h2>
        </div>
        <div class="contact-content-con">
            <div class="left-contact">
                
                <div class="contact-info">
                    <div class="contact-item">
                        <div class="icon">
                            <i class="fas fa-map-marker-alt"></i>
                            <h2><span>LOCATION :</span></h2>
                        </div>
                        
                            <h4><span>MAYILADUTHURAI, TAMILNADU</span></h4>
                        
                    </div>
                    <div class="contact-item">
                        <div class="icon">
                            <i class="fas fa-envelope"></i>
                            <h1><span>E-MAIL :</span></h1>
                        </div>
                        
                            <h4><span>kanimozhimahendran@gmail.com</span></h4>
                        
                    </div>
                    <div class="contact-item">
                        <div class="icon">
                            <i class="fas fa-user-graduate"></i>
                            <h1><span>PHONE :</span></h1>
                        </div>
                        
                            <h4><span>1111111111</span></h4>
                        
                    </div>
                    <div class="contact-item">
                        <div class="icon">
                            <i class="fas fa-globe-africa"></i>
                            <h1><span>LANGUAGES KNOWN :</span></h1>
                        </div>
                        
                            <h4><span>TAMIL, ENGLISH</span></h4>
                        
                    </div>
                </div>
                <div class="contact-icons">
                    <div class="contact-icon">
                        <a href="www.facebook.com" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-snapchat"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="right-contact">
                <form action="" class="contact-form">
                    <div class="input-control i-c-2">
                        <input type="text" required placeholder="YOUR NAME" /><BR>
                        <input type="email" required placeholder="YOUR EMAIL" /><br>
                        <input type="text" required placeholder="ENTER SUBJECT" /><br>
                    </div>
                    <div class="input-control">
                        <textarea name="" id="" cols="15" rows="8" placeholder="Message Here..."></textarea>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>